Repository kurtleee/gznx_credit, pull requests merged in 2024-08, with the labels that each got.

#6 Create greetings.yml
  .github/workflows/greetings.yml
Labels: ci-cd

#8 Create stale.yml
  .github/workflows/stale.yml
Labels: ci-cd

#11 Dev/kurtlee 添加application信贷申请表实体类/Mapper 至 Loan/个贷/农贷
  agricultureloan-service/src/main/java/com/uniview/agriculture/mapper/AgricultureLoanMapper.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/mapper/CreditApplicationsMapper.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/pojo/CreditApplications.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/AgricultureLoanService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/CreditApplicationsService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/AgricultureLoanServiceImpl.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/CreditApplicationsServiceImpl.java
  agricultureloan-service/src/main/resources/mapper/CreditApplicationsMapper.xml
  loan-service/src/main/java/com/uniview/loan/mapper/CreditApplicationsMapper.java
  loan-service/src/main/java/com/uniview/loan/pojo/CreditApplications.java
  loan-service/src/main/java/com/uniview/loan/service/CreditApplicationsService.java
  loan-service/src/main/java/com/uniview/loan/service/impl/CreditApplicationsServiceImpl.java
  loan-service/src/main/resources/mapper/CreditApplicationsMapper.xml
  personalloan-service/src/main/java/com/uniview/personal/mapper/CreditApplicationsMapper.java
  personalloan-service/src/main/java/com/uniview/personal/pojo/CreditApplications.java
  personalloan-service/src/main/java/com/uniview/personal/service/CreditApplicationsService.java
  personalloan-service/src/main/java/com/uniview/personal/service/impl/CreditApplicationsServiceImpl.java
  personalloan-service/src/main/resources/mapper/CreditApplicationsMapper.xml
Labels: backend

#14 增加joint相关表映射
  agricultureloan-service/src/main/java/com/uniview/agriculture/mapper/JointAgreementMapper.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/mapper/JointCreditApplicationMapper.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/mapper/JointGroupMapper.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/mapper/JointGroupMemberMapper.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/pojo/JointAgreement.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/pojo/JointCreditApplication.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/pojo/JointGroup.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/pojo/JointGroupMember.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/JointAgreementService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/JointCreditApplicationService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/JointGroupMemberService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/JointGroupService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/JointAgreementServiceImpl.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/JointCreditApplicationServiceImpl.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/JointGroupMemberServiceImpl.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/JointGroupServiceImpl.java
  agricultureloan-service/src/main/resources/mapper/JointAgreementMapper.xml
  agricultureloan-service/src/main/resources/mapper/JointCreditApplicationMapper.xml
  agricultureloan-service/src/main/resources/mapper/JointGroupMapper.xml
  agricultureloan-service/src/main/resources/mapper/JointGroupMemberMapper.xml
Labels: backend

#15 个贷模块 添加 贷款展期表 逆向工程
  personalloan-service/src/main/java/com/uniview/personal/mapper/LoanExtensionMapper.java
  personalloan-service/src/main/java/com/uniview/personal/pojo/LoanExtension.java
  personalloan-service/src/main/java/com/uniview/personal/service/LoanExtensionService.java
  personalloan-service/src/main/java/com/uniview/personal/service/impl/LoanExtensionServiceImpl.java
  personalloan-service/src/main/resources/mapper/LoanExtensionMapper.xml
Labels: backend

#18 1:添加了common-service模块，增加了CustomerDto;
  agricultureloan-service/pom.xml
  agricultureloan-service/src/main/java/com/uniview/agriculture/controller/JointController.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/feign/UserFeign.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/JointGroupService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/JointGroupServiceImpl.java
  common-service/pom.xml
  common-service/src/main/java/com/uniview/common/dto/CustomerDto.java
  pom.xml
  user-service/src/main/java/com/uniview/user/controller/AgricultureCustomer.java
  user-service/src/main/java/com/uniview/user/service/CustomerService.java
  user-service/src/main/java/com/uniview/user/service/impl/CustomerServiceImpl.java
Labels: backend, configuration

#19 common-service 增加了封装分页、统一返回类、返回消息枚举类、全局异常处理 个贷模块新增申请列表查询（待完善）
  common-service/src/main/java/com/uniview/common/utils/GlobalException.java
  common-service/src/main/java/com/uniview/common/utils/ParamData.java
  common-service/src/main/java/com/uniview/common/utils/ResponseData.java
  common-service/src/main/java/com/uniview/common/utils/ResponseEnum.java
  personalloan-service/src/main/java/com/uniview/personal/controller/BusinessHandlingController.java
  personalloan-service/src/main/java/com/uniview/personal/dto/CreditApplicationDTO.java
  personalloan-service/src/main/java/com/uniview/personal/service/CreditApplicationsService.java
  personalloan-service/src/main/java/com/uniview/personal/service/impl/CreditApplicationsServiceImpl.java
Labels: backend

#21 修改common-service的pom中版本，22改为17；增加“查询所有联保小组信息”接口并修改了统一返回类；
  agricultureloan-service/pom.xml
  agricultureloan-service/src/main/java/com/uniview/agriculture/controller/JointController.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/pojo/JointGroup.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/JointGroupMemberService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/JointGroupService.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/JointGroupMemberServiceImpl.java
  agricultureloan-service/src/main/java/com/uniview/agriculture/service/impl/JointGroupServiceImpl.java
  common-service/pom.xml
Labels: backend, configuration

#23 通知模块完善了163.com发邮件;实体类的完善
  notification-service/pom.xml
  notification-service/src/main/java/com/uniview/notification/NotificationApplication.java
  notification-service/src/main/java/com/uniview/notification/config/NotificationConfig.java
  notification-service/src/main/java/com/uniview/notification/controller/NotificationController.java
  notification-service/src/main/java/com/uniview/notification/pojo/Notification.java
  notification-service/src/main/java/com/uniview/notification/service/NotificationService.java
  notification-service/src/main/java/com/uniview/notification/service/impl/NotificationServiceImpl.java
Labels: backend, configuration
